{% extends "base.html" %}
{% load static wagtailcore_tags i18n %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}

      <!-- ===== Hero Start ===== -->
      <section class="pt-40 md:pt-45 xl:pt-50 mb-5 lg:mb-10 xl:mb-15 overflow-hidden">
        <div class="mx-auto max-w-c-1390 px-4 md:px-8 2xl:px-0">
          <div class="flex lg:items-center lg:gap-8 xl:gap-32.5">
            <div class="animate_left md:w-1/2">
              <h4 class="text-black dark:text-white text-lg font-medium mb-4.5">{{ page.tagline }}</h4>
              <h1 class="text-black dark:text-white text-3xl xl:text-hero font-bold mb-5">
                El  
                <span class="inline-block relative before:absolute before:bottom-2.5 before:left-0 before:w-full before:h-3 before:bg-titlebg dark:before:bg-titlebgdark before:-z-1">Aeroclub</span>
                de Barcelona
              </h1>

              {{ page.intro|safe }}

          <div class="mt-7.5 flex items-center gap-5">
            <div class="w-15 h-15 rounded-[50%] border border-stroke dark:border-strokedark dark:bg-blacksection flex items-center justify-center">
              <p class="text-black dark:text-white font-semibold text-metatitle2">01</p>
            </div>
            <div class="w-3/4">
              <h5 class="text-black dark:text-white text-metatitle2 mb-0.5">{{ page.intro_1_title }}</h5>
              <p>{{ page.intro_1_desc }}</p>
            </div>
          </div>
          <div class="mt-7.5 flex items-center gap-5">
            <div class="w-15 h-15 rounded-[50%] border border-stroke dark:border-strokedark dark:bg-blacksection flex items-center justify-center">
              <p class="text-black dark:text-white font-semibold text-metatitle2">02</p>
            </div>
            <div class="w-3/4">
              <h5 class="text-black dark:text-white text-metatitle2 mb-0.5">{{ page.intro_2_title }}</h5>
              <p>{{ page.intro_2_desc }}</p>
            </div>
          </div>
          <div class="mt-7.5 flex items-center gap-5">
            <div class="w-15 h-15 rounded-[50%] border border-stroke dark:border-strokedark dark:bg-blacksection flex items-center justify-center">
              <p class="text-black dark:text-white font-semibold text-metatitle2">02</p>
            </div>
            <div class="w-3/4">
              <h5 class="text-black dark:text-white text-metatitle2 mb-0.5">{{ page.intro_3_title }}</h5>
              <p>{{ page.intro_3_desc }}</p>
            </div>
          </div>
              
<div class="mt-10">
    <form action="https://aeroclubcanudas.us21.list-manage.com/subscribe/post?u=1900bb9b4e592d65131ba33c2&amp;id=be6deb715c&amp;f_id=00e5f0e6f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate="">
        <div class="flex flex-wrap gap-5">
            <!-- Email Input -->
            <input
                type="email"
                name="EMAIL"
                placeholder="Tu correo electrónico"
                class="dark:bg-black border border-stroke dark:border-strokedark shadow-solid-2 dark:shadow-none rounded-full focus:outline-none focus:border-primary dark:focus:border-primary py-2.5 px-6"
                required=""
            />
            <!-- Submit Button -->
            <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="flex bg-black hover:bg-blackho dark:bg-btndark text-white rounded-full ease-in-out duration-300 px-7.5 py-2.5">Recibir el newsletter</button>
        </div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <!-- Anti-spam Field -->
            <input type="text" name="b_1900bb9b4e592d65131ba33c2_be6deb715c" tabindex="-1" value="">
        </div>
    </form>
</div>
            </div>
            <div class="animate_right md:w-1/2 hidden lg:block">
              <div class="relative 2xl:-mr-7.5">
                <img src="{% static 'img/shape-01.png' %}" alt="shape" class="absolute -left-11.5 top-0" />
                <img src="{% static 'img/shape-02.svg' %}" alt="shape" class="absolute right-0 bottom-0" />
                <img src="{% static 'img/shape-03.svg' %}" alt="shape" class="absolute -right-6.5 bottom-0" />
                <div>
                  <img class="shadow-solid-l" src="{% static 'img/hero.webp' %}" alt="Hero" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ===== Hero End ===== -->

<section class="pt-20 lg:pt-25 xl:pt-30 overflow-hidden">
<div class="carousel h-[700px] w-full">
<div
  id="home-carousel"
  class="relative"
  data-te-carousel-init
  data-te-ride="carousel">
  <!--Carousel indicators-->
  <div
    class="absolute top-0 left-0 right-0 z-[2] mx-[15%] mb-4 flex list-none justify-center p-0"
    data-te-carousel-indicators>
    <button
      type="button"
      data-te-target="#home-carousel"
      data-te-slide-to="0"
      data-te-carousel-active
      class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
      aria-current="true"
      aria-label="Slide 1"></button>
    <button
      type="button"
      data-te-target="#home-carousel"
      data-te-slide-to="1"
      class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
      aria-label="Slide 2"></button>
    <button
      type="button"
      data-te-target="#home-carousel"
      data-te-slide-to="2"
      class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
      aria-label="Slide 3"></button>
    <button
      type="button"
      data-te-target="#home-carousel"
      data-te-slide-to="3"
      class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
      aria-label="Slide 3"></button>
  </div>

  <!--Carousel items-->
  <div
    class="relative w-full overflow-hidden after:clear-both after:block after:content-['']">
    {% for image in carousel_images %}
    <div
      class="relative float-left -mr-[100%] {% if not forloop.first %}hidden{% endif %} w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
      data-te-carousel-item
      {% if forloop.first %}data-te-carousel-active{% endif %}>
      <img
        src="{{ image.image.file.url }}"
        class="block w-full max-h-full mx-auto object-contain object-center"
        alt="{{ image.image.title }}" />
    </div>
    {% endfor %}
  </div>

  <!--Carousel controls - prev item-->
  <button
    class="absolute bottom-0 left-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
    type="button"
    data-te-target="#home-carousel"
    data-te-slide="prev">
    <span class="inline-block h-8 w-8">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-6 w-6">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 19.5L8.25 12l7.5-7.5" />
      </svg>
    </span>
    <span
      class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
      >Previous</span
    >
  </button>
  <!--Carousel controls - next item-->
  <button
    class="absolute bottom-0 right-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
    type="button"
    data-te-target="#home-carousel"
    data-te-slide="next">
    <span class="inline-block h-8 w-8">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-6 w-6">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M8.25 4.5l7.5 7.5-7.5 7.5" />
      </svg>
    </span>
    <span
      class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
      >Next</span
    >
  </button>
</div>
</div>
</section>

  <section class="mt-20 lg:mt-25 xl:mt30 overflow-hidden">
    <div class="mx-auto max-w-c-1235 px-4 md:px-8 xl:px-0">
      <div class="flex items-center gap-8 lg:gap-32.5">
        <div class="animate_left hidden md:block md:w-1/3">
          <img src="{% static 'img/aeroclub-canudas.webp' %}" alt="About" class="w-full" />
        </div>
        <div class="animate_right md:w-2/3">
          <h4 class="text-black dark:text-white font-medium uppercase">
            <span class="bg-meta text-white text-metatitle inline-flex rounded-full py-1 px-4.5 mr-4 mb-4">News</span>{{ page.news_title }}
          </h4>
          <h2 class="relative font-bold text-black dark:text-white text-3xl xl:text-hero mb-6">
            {{ page.news_opening|safe }}
          </h2>
          
          <div class="space-y-2">
            {{ page.news_body|safe }}
          </div>
        </div>
      </div>
    </div>
  </section>

      <section class="py-10 lg:py-15 xl:py-20">
        <div class="mx-auto max-w-c-1280 px-4 md:px-8 xl:px-0 mt-15 xl:mt-20">
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-7.5 xl:gap-10">
            {% for section in page.sections.all %}
            <!-- Blog Item -->
            <div class="animate_top bg-white dark:bg-blacksection rounded-lg shadow-solid-8 p-4 pb-9">
              <a href="{{ section.url }}" class="block">
                <img src="{{ section.image.file.url }}" alt="{{ section.title }}" />
              </a>

              <div class="px-4">
                <h4 class="font-medium text-lg xl:text-itemtitle2 text-black hover:text-primary dark:text-white mt-7.5 mb-3.5">
                  <a href="{{ section.url }}">{{ section.title }}</a>
                </h4>

                <div class="space-y-2">
                  {{ section.description|safe }}
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </section>  

      <section>
        <div class="mx-auto max-w-c-1235 px-4 md:px-8 2xl:px-0 overflow-hidden">
          <div class="flex items-center gap-8 lg:gap-32.5">
            <div class="animate_left md:w-2/3" data-sr-id="56" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 2.8s cubic-bezier(0.5, 0, 0, 1) 0s, transform 2.8s cubic-bezier(0.5, 0, 0, 1) 0s;">
              <h4 class="text-black dark:text-white font-medium uppercase">Pequeña historia de...</h4>
              <h2 class="relative font-bold text-black dark:text-white text-3xl xl:text-hero mb-6">{{ page.historia_title|safe }}</h2>
              <div class="space-y-2">
                {{ page.historia_body|safe }}
              </div>

              <a href="/historia" class="flex items-center gap-2.5 text-black dark:text-white mt-7.5">
                Aprendre més història
                <img class="dark:hidden" src="{% static 'img/icon-arrow-light.svg' %}" alt="Arrow">
                <img class="hidden dark:block" src="{% static 'img/icon-arrow-dark.svg' %}" alt="Arrow">
              </a>
            </div>
            <div class="animate_right hidden md:block md:w-1/3" data-sr-id="62" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 2.8s cubic-bezier(0.5, 0, 0, 1) 0s, transform 2.8s cubic-bezier(0.5, 0, 0, 1) 0s;">
              <img src="{{ page.historia_image.file.url }}" class="w-full" />
            </div>
          </div>
        </div>
      </section>

{% endblock content %}
