{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags i18n %}

{% block content %}

      <section class="pt-35 lg:pt-45 xl:pt-50 pb-20 lg:pb-25 xl:pb-30">
        <div class="mx-auto max-w-c-1390 px-4 md:px-8 2xl:px-0">
          <div class="flex flex-col-reverse lg:flex-row gap-7.5 xl:gap-12.5">

            <!-- Main article -->
            <div class="lg:w-2/3">
              <div class="animate_top rounded-md shadow-solid-13 bg-white dark:bg-blacksection border border-stroke dark:border-strokedark p-7.5 md:p-10">
                {% image page.main_image original as main_img %}
                <div class="w-full h-96 overflow-hidden relative flex items-center">
                    <img src="{{ main_img.url }}" alt="{{ page.main_image.title }}" class="w-full h-auto object-cover">
                </div>

                <h2 class="font-semibold text-3xl 2xl:text-sectiontitle2 text-black dark:text-white mt-11 mb-5">{{ page.title }}</h2>

                <div class="space-y-3">
                    {{ page.body|richtext }}
                </div>
                
                <div class="grid grid-cols-1 md:grid-cols-2 gap-10 my-11">
                    {% for item in page.gallery_images.all %}
                        <a href="{{ item.image.file.url }}" target="_blank">
                            {% image item.image fill-320x240 as img %}
                            <img src="{{ img.url }}" alt="{{ item.image.title }}" class="w-full h-auto object-cover">
                        </a>
                    {% endfor %}
                </div>

                <div class="flex flex-wrap gap-4 md:gap-0 md:justify-between md:items-center mt-11">
                  <ul class="flex items-center gap-6">
                    <li>
                      <p class="text-black dark:text-white">{% trans "Share On:" %}</p>
                    </li>
                    <li>
                      <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri|urlencode }}" target="_blank">
                        <svg class="fill-[#D1D8E0] hover:fill-primary transition-all duration-300" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_48_1499)">
                            <path d="M14 13.5H16.5L17.5 9.5H14V7.5C14 6.47 14 5.5 16 5.5H17.5V2.14C17.174 2.097 15.943 2 14.643 2C11.928 2 10 3.657 10 6.7V9.5H7V13.5H10V22H14V13.5Z" fill="" />
                          </g>
                          <defs>
                            <clipPath id="clip0_48_1499">
                              <rect width="24" height="24" fill="white" />
                            </clipPath>
                          </defs>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a href="https://x.com/intent/tweet?url={{ request.build_absolute_uri|urlencode }}&text=PageTitle" target="_blank">
                          <svg class="fill-[#D1D8E0] hover:fill-primary transition-all duration-300" width="20" height="20" viewBox="0 0 300 300.251" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M178.57 127.15 290.27 0h-26.46l-97.03 110.38L89.34 0H0l117.13 166.93L0 300.25h26.46l102.4-116.59 81.8 116.59h89.34M36.01 19.54H76.66l187.13 262.13h-40.66"/>
                          </svg>

                      </a>
                    </li>
                  </ul>
                </div>

              </div>
            </div>


            <!-- Side panel -->
            <div class="md:w-1/2 lg:w-[32%]">
              <div class="animate_top rounded-md shadow-solid-13 bg-white dark:bg-blacksection border border-stroke dark:border-strokedark p-9">
                <h4 class="font-semibold text-2xl text-black dark:text-white mb-7.5">{% trans "Related articles" %}</h4>

                {% for article in sibling_articles %}
                <div>
                  <div class="flex xl:flex-nowrap flex-wrap gap-4 2xl:gap-6 mb-7.5">
                    {% image article.main_image fill-90x70 as thumb_img %}
                    <img src="{{ thumb_img.url }}" alt="{{ article.main_image.title }}">
                    <h5 class="font-medium text-xl text-black dark:text-white hover:text-primary dark:hover:text-primary transition-all duration-300">
                      <a href="{% pageurl article %}">{{ article.title }}</a>
                    </h5>
                  </div>
                </div>
                {% endfor %}

              </div>
            </div>
            <!-- END: Side panel -->

          </div>
        </div>
      </section>

{% endblock %}
