{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags i18n %}

{% block content %}
      <section class="py-20 lg:py-25 xl:py-30">
        <div class="mx-auto max-w-c-1280 px-4 md:px-8 xl:px-0 mt-15 xl:mt-20">
          <!-- Section Title Start -->
          <div class="animate_top text-center mx-auto">
            <div class="bg-zumthor dark:bg-blacksection dark:border dark:border-strokedark inline-block rounded-full py-1.5 px-4.5 mb-4">
              <h4 class="uppercase font-medium text-sectiontitle text-black dark:text-white">{{ page.title }}</h4>
            </div>
            <h2 class="font-bold text-3xl xl:text-sectiontitle3 text-black dark:text-white md:w-4/5 xl:w-1/2 mx-auto mb-4">{{ page.long_title }}</h2>
            <p class="mx-auto md:w-4/5 lg:w-3/5 xl:w-[46%]">`{{ page.intro|richtext }}</p>
          </div>

          <!-- Articles grid -->
          <div class="py-5 lg:py-10 xl:py-15 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-7.5 xl:gap-10">

          {% for article in articles %}
            <div class="animate_top bg-white dark:bg-blacksection rounded-lg shadow-solid-8 p-4 pb-9">
              <a href="{% pageurl article %}" class="block">
                {% if article.main_image %}
                    {% image article.main_image fill-370x240 as thumb_img %}
                    <img src="{{ thumb_img.url }}" alt="{{ article.main_image.title }}">
                {% endif %}
              </a>

              <div class="px-4">
                <h4 class="font-medium text-lg xl:text-itemtitle2 text-black hover:text-primary dark:text-white mt-7.5 mb-3.5">
                  <a href="{% pageurl article %}">{{ article.title }}</a>
                </h4>

                <p class="py-2">{{ article.body|richtext|truncatewords_html:25 }}</p>
              </div>
            </div>
          {% endfor %}

          </div>
        </div>
      </section>  

{% endblock %}
