header .site-logo {
  width: 116px;
}

[type="button"].bg-primary, [type="reset"].bg-primary, [type="submit"].bg-primary, button.bg-primary {
  background-color: rgb(0 107 255 / var(--tw-bg-opacity));
}
