{% extends "base.html" %}
{% load static wagtailcore_tags i18n %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}{% trans "Search" %}{% endblock %}

{% block content %}
<h1>{% trans "Search" %}</h1>

<form action="{% url 'search' %}" method="get">
    <input type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
    <input type="submit" value="{% trans "Search" %}" class="button">
</form>

{% if search_results %}
<ul>
    {% for result in search_results %}
    <li>
        <h4><a href="{% pageurl result %}">{{ result }}</a></h4>
        {% if result.search_description %}
        {{ result.search_description }}
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% if search_results.has_previous %}
<a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">{% trans "Previous" %}</a>
{% endif %}

{% if search_results.has_next %}
<a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">{% trans "Next" %}</a>
{% endif %}
{% elif search_query %}
{% trans "No results found" %}
{% endif %}
{% endblock %}
