{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags form_filters i18n %}

{% block side %}
    <p class="uppercase tracking-[5px] text-sectiontitle mb-1.5">{% trans "Contact" %}</p>
    <a href="mailto:info@aeroclubcanudas.cat" class="text-black dark:text-white font-medium text-itemtitle">info@aeroclubcanudas.cat</a>
{% endblock %}

{% block content %}
    <h1 class="font-semibold text-3xl 2xl:text-sectiontitle2 text-black dark:text-white mt-11 mb-5">
        {% trans "Contact" %}
    </h1>

    <form method="post" action="." class="space-y-3">
        {% csrf_token %}
        
        {% for field in form %}
            <div class="form-group">
                {% if field.field.widget.input_type == 'checkbox' %}
                    {{ field.label_tag }}
                {% endif %}
                {{ field|add_class:"dark:bg-black border border-stroke dark:border-strokedark shadow-solid-11 dark:shadow-none rounded-lg focus:outline-none focus:border-primary dark:focus:border-primary py-3 px-6" }}
                
                {% if field.errors %}
                    <div class="errors">{{ field.errors }}</div>
                {% endif %}
            </div>
        {% endfor %}
        
        <button type="submit" class="flex items-center justify-center bg-primary hover:bg-primaryho ease-in-out duration-300 text-white text-regular rounded-full py-2.5 px-7.5">{% trans "Submit" %}</button>
    </form>
{% endblock %}
