{% load static wagtailcore_tags wagtailuserbar i18n %}
{% wagtail_site as current_site %}

<!-- ===== Header Start ===== -->
    <header
  class="fixed left-0 top-0 w-full z-99999 py-7"
  :class="{ 'bg-white dark:bg-black shadow !py-4 transition duration-100' : stickyMenu }"
  @scroll.window="stickyMenu = (window.pageYOffset > 20) ? true : false"
>
  <div class="mx-auto max-w-c-1390 px-4 md:px-8 2xl:px-0 lg:flex items-center justify-between relative">
    <div class="w-full lg:w-1/3 flex items-center">
        <a href="{{ current_site.root_url }}">
        <img class="dark:hidden site-logo -mt-2" src="{% static 'img/canudas-logo.webp' %}" alt="Logo Light" />
        <img class="hidden dark:block site-logo" src="{% static 'img/canudas-logo.webp' %}" alt="Logo Dark" />
      </a>
        <div class="site-name text-2xl ml-2 font-medium text-black dark:text-white">{% trans 'Aeroclub Canudas' %}</div>
        <!--<span class="site-tagline"></span>-->
    </div>

    <div
      class="w-full lg:w-2/3 h-0 lg:h-auto invisible lg:visible lg:flex items-center justify-between"
      :class="{ '!visible bg-white dark:bg-blacksection shadow-solid-5 h-auto max-h-[400px] overflow-y-scroll rounded-md mt-4 p-7.5': navigationOpen }"
    >
      <nav>
        <ul class="flex lg:items-center flex-col lg:flex-row gap-5 lg:gap-10">
          {% for page in page_tree %}
            <li><a href="{% pageurl page %}" class="hover:text-primary" :class="{ 'text-primary': page === '{{ page.slug }}' }">{% trans page.title %}</a></li>
          {% endfor %}

          <li class="group relative" x-data="{ dropdown: false }">
            <a
              href="#"
              class="hover:text-primary flex items-center justify-between gap-3"
              @click.prevent="dropdown = !dropdown"
            >
              <span title="{% trans 'Language' %}">🌐</span>

              <svg
              :class="{ 'fill-primary': dropdown }" 
              class="fill-waterloo group-hover:fill-primary w-3 h-3 cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z" />
              </svg>
            </a>

            <!-- Dropdown Start -->
            <ul class="dropdown" :class="{ 'flex': dropdown }">
              <li>
                  <a href="#" class="hover:text-primary" :class="{ 'text-primary': page === 'blog-grid' }">
                    <span style="display: inline-flex; align-items: center; vertical-align: middle;">
                      <svg width="16" height="14" viewBox="0 0 16 14" xmlns="http://www.w3.org/2000/svg">
                          <rect width="16" height="2" y="0" fill="#FFB300"></rect>
                          <rect width="16" height="2" y="2" fill="#FF1A00"></rect>
                          <rect width="16" height="2" y="4" fill="#FFB300"></rect>
                          <rect width="16" height="2" y="6" fill="#FF1A00"></rect>
                          <rect width="16" height="2" y="8" fill="#FFB300"></rect>
                          <rect width="16" height="2" y="10" fill="#FF1A00"></rect>
                          <rect width="16" height="2" y="12" fill="#FFB300"></rect>
                      </svg>
                      &nbsp;Català
                    </span>
                  </a>
              </li>
              <li><a href="{% url 'set_language' %}?language=ca" class="hover:text-primary" :class="{ 'text-primary': page === 'blog-grid' }">🇪🇸 {% trans 'Catalan' %}</a></li>
              <li><a href="{% url 'set_language' %}?language=en" class="hover:text-primary" :class="{ 'text-primary': page === 'blog-grid' }">🇬🇧 {% trans 'English' %}</a></li>
              <li><a href="{% url 'set_language' %}?language=fr" class="hover:text-primary" :class="{ 'text-primary': page === 'blog-grid' }">🇫🇷 {% trans 'French' %}</a></li>
              <li><a href="{% url 'set_language' %}?language=es" class="hover:text-primary" :class="{ 'text-primary': page === 'blog-grid' }">🇪🇸 {% trans 'Spanish' %}</a></li>
            </ul>
            <!-- Dropdown End -->
          </li>
        </ul>
      </nav>

      <div class="flex items-center gap-6 mt-7 lg:mt-0">
        <div class="mr-1.5 absolute lg:static top-1 right-17" :class="navigationOpen ? '!visible' : '!visible'">
          <label class="block m-0 relative">
            <input type="checkbox" :value="darkMode" @change="darkMode = !darkMode" class="cursor-pointer w-full h-full opacity-0 absolute top-0 z-50 m-0" />
            <img class="dark:hidden" src="{% static 'img/icon-sun.svg' %}" alt="Sun" />
            <img class="hidden dark:block" src="{% static 'img/icon-moon.svg' %}" alt="Moon" />
          </label>
        </div>

        {% if user.is_authenticated %}
        <a href="{% url 'account_logout' %}" class="ext-waterloo text-regular font-medium hover:text-primary">{% trans "Logout" %}</a>
        <a href="{% url 'account_email' %}" class="flex items-center justify-center bg-primary hover:bg-primaryho ease-in-out duration-300 text-white text-regular rounded-full py-2.5 px-7.5">
            {{ user.username|slice:":20" }}
            {% if user.username|length > 20 %}...{% endif %}
        </a>
        {% else %}
        <a href="{% url 'account_login' %}" class="text-waterloo text-regular font-medium hover:text-primary">{% trans "Login" %}</a>
        <a href="{% url 'account_signup' %}" class="flex items-center justify-center bg-primary hover:bg-primaryho ease-in-out duration-300 text-white text-regular rounded-full py-2.5 px-7.5">{% trans "Become a member" %}</a>
        {% endif %}
      </div>
    </div>
  </div>
</header>

<!-- ===== Header End ===== -->

